<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <%- include("../partials/nav")%>
  <div class="container mt-4">

    <h2>Você realmente deseja cancelar o agendamento da consulta?</h2>
    <a class="btn btn-success" href="/consulta/<%=appoId%>?_method=delete">Sim</a>
    <a class="btn btn-danger" href="/consulta/<%=appoId%>">Não</a>

  </div>
  

</body>
<%- include("../partials/scripts")%>
<script>
    $('.cpf').mask('000.000.000-00', {reverse: true});
</script>
</html>